<form id="mp-mlp" class="form-horizontal form-label-left">
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="base-model">Specify network weights in JSON format <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input style="margin-top: 6px;" type="file" id="coefs_" class="mp" data-role="magic-overlay">
		</div>
	</div>
	<hr>
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="base-model">
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="checkbox">
				<label class="">
					<div class="icheckbox_flat-green" style="position: relative;">
						<input type="checkbox" checked="checked" id="coefs_-def" class="flat mp-def" style="position: absolute; opacity: 0;">
						<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
						</ins>
					</div>
					Choose default weights
				</label>
			</div>
		</div>
	</div>
</form>